<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shoes The New Fashion </title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" rel="stylesheet">

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="d-flex flex-row-reverse bd-highlight">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="header--main-menu-link" href="/views/products/index">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/warehouse/index">Almacen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/views/"><span>carrito</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Promociones</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="text" placeholder="Buscar">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <h1>HI FROM HTML</h1>
  <ul>
    <li>
      Nombre: <%= usuario.nombre %>
    </li>
    <li>
      Direccion: <%= usuario.direccion %>
    </li>
    <li>
      Celular: <%= usuario.celular %>
    </li>
    <li>
      Peso: <%= usuario.peso %>
    </li>
    <li>
      Edad: <%= usuario.edad %>
    </li>
  </ul>
</body>
</head>

</html>